// View breakpoint
$breakpoint-xl: 1441px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;

$colors: (
  'primary': #861f11,
  'secondary': #2c9042,
  'accent': #aa612e,
  'hightlight': #85a28b,
  'hightlight2': #e4bd62,
  'shade': #63322d,
  'fade': #744c3e,
  'text': #d4d4bd,
  'darker': #1e1e1e,
  'background': #303030,
);

