@import 'variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Play', sans-serif;
  font-family: 'Play', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  color: map-get($colors, 'text');
  background-color: map-get($colors, 'background');
}

a {
  text-decoration: none;
  color: inherit;
}

@each $i in $colors {
  .text-#{nth($i, 1)} {
    color: nth($i, 2);
  }
  .bg-#{nth($i, 1)} {
    background-color: nth($i, 2);
  }
}

.text-underline {
  text-decoration: underline;
}

$spacings: (
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.5rem,
);

@each $i in $spacings {
  .ma-#{nth($i, 1)} {
    margin: nth($i, 2);
  }
  .mx-#{nth($i, 1)} {
    margin-left: nth($i, 2);
    margin-right: nth($i, 2);
  }
  .my-#{nth($i, 1)} {
    margin-top: nth($i, 2);
    margin-bottom: nth($i, 2);
  }
  .mt-#{nth($i, 1)} {
    margin-top: nth($i, 2);
  }
  .mr-#{nth($i, 1)} {
    margin-right: nth($i, 2);
  }
  .mb-#{nth($i, 1)} {
    margin-bottom: nth($i, 2);
  }
  .ml-#{nth($i, 1)} {
    margin-left: nth($i, 2);
  }

  .pa-#{nth($i, 1)} {
    padding: nth($i, 2);
  }
  .px-#{nth($i, 1)} {
    padding-left: nth($i, 2);
    padding-right: nth($i, 2);
  }
  .py-#{nth($i, 1)} {
    padding-top: nth($i, 2);
    padding-bottom: nth($i, 2);
  }
  .pt-#{nth($i, 1)} {
    padding-top: nth($i, 2);
  }
  .pr-#{nth($i, 1)} {
    padding-right: nth($i, 2);
  }
  .pb-#{nth($i, 1)} {
    padding-bottom: nth($i, 2);
  }
  .pl-#{nth($i, 1)} {
    padding-left: nth($i, 2);
  }
}

button {
  border-radius: 2px;
  padding: 0.5rem;
  color: black;
  background: map-get($colors, 'text');
  border: solid 1px map-get($colors, 'accent');
  &.btn-primary {
    color: map-get($colors, 'text');
    background: map-get($colors, 'primary');
    border: solid 1px map-get($colors, 'accent');
  }
  &.btn-secondary {
    color: map-get($colors, 'primary');
    background: map-get($colors, 'text');
    border: solid 1px map-get($colors, 'primary');
  }
  &.btn-accent {
    color: map-get($colors, 'text');
    background: map-get($colors, 'accent');
    border: solid 1px map-get($colors, 'text');
  }
  &.btn-hightlight {
    color: map-get($colors, 'text');
    background: map-get($colors, 'hightlight');
    border: solid 1px map-get($colors, 'text');
  }
  &.btn-outline-primary {
    color: map-get($colors, 'text');
    background: none;
    border: solid 2px map-get($colors, 'primary');
  }
}

h6 {
  font-size: 0.67rem;
}

.custom-style {
  .stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .system-stats {
      display: flex;
      .cell {
        width: 3.5rem;
      }
    }
  }
}
